@model Categories

<form method="post" asp-controller="Categories" asp-action="SaveEdit" asp-route-id="@Model.Id">

    <div>
        <label asp-for="Name" class="m-2">Category Name</label>
        <input class="form-control" asp-for="Name" value="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"> </span>
    </div>

    <div>
        <label asp-for="ImgUrl" class="m-2"></label>
        <input class="form-control" asp-for="ImgUrl" value="@Model.ImgUrl" />
        <span asp-validation-for="ImgUrl" class="text-danger"></span>

    </div>
    <input type="submit" class="btn btn-success mt-3" value="Save Changes" />
</form>
<a asp-action="Index" class="btn btn-danger mt-3"> Back To All Categories</a>
@section Scripts{
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}